* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yeon Sung', cursive;
}

body {
    background-color: pink;
    animation-name: nice;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    font-size: 250%;
    color: black;
    text-align: center;
}

@keyframes nice {
    0% {background-color: orange;}
    50% {background-color: pink;}
    100% {background-color: orange;}
}
